<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Owner's List</title>
</head>
<!--/*@thymesVar id="owner" type="com.nursh.petclinic.model.Owner"*/-->
<body>
    <h2>Owners</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">First Name</th>
                <th style="width: 150px;">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">2</td>
                <td th:text="${owner.firstName}">Hunter</td>
                <td th:text="${owner.lastName}">Ghost</td>
            </tr>
        </tbody>
    </table>
</body>
</html>